<mat-toolbar color="primary">

  <button mat-button routerLink=""><span>APP</span></button>
  <button mat-button routerLink="/now_playing/1">Now playing</button>
  <button mat-button routerLink="/popular/1">Popular</button>
  <button mat-button routerLink="/top_rated/1">Top rated</button>
  <button mat-button routerLink="/upcoming/1">Upcoming</button>

  <!-- This fills the remaining space of the current row -->
  <span class="remaining-space"> </span>

  <span>search</span>
</mat-toolbar>

<router-outlet></router-outlet>
