/* You can add global styles to this file, and also import other style files */
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
//@import '~@covalent/markdown/markdown-theme';
//@import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
//$typography: mat-typography-config(
//  $font-family: 'Roboto, monospace',
//  $headline: mat-typography-level(32px, 48px, 700)
//);

@include mat-core(); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-purple, 800, 100, 900);
$accent:  mat-palette($mat-light-blue, 600, 100, 900);

$warn:    mat-palette($mat-red, 600, 100, 900);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme); // $typography is an **optional** argument for the covalent-theme

body {
	background-image: url("assets/back.svg");
    background-color: #fff;
    background-repeat: no-repeat;
}
.movie {
  background-color: #e0e0e0;
}

.main {
  margin-top: 15px;
  margin-bottom: 20px;
}

.movie img{
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.movie img:hover{
  width: 120%;
  height: 110%;
}

.person{
  width: 300px;
}

.person img{
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.person img:hover{
  width: 125%;
  height: 110%;
}

.list{
  color: black;
}